.about-me {
    &__header {
        color: $light-blue;
    }
    &__text {
        color: $off-white;
    }
    &__img {
        width: 100%;
    }
}
.education {
    list-style-type: none;
    background-color: $light-black;
    padding: 1rem;
    border-radius: 10px;

    &__list-item {
        margin-bottom: 1rem;
    }
    &__school {
        color: $white;
    }
    &__degree {
        color: $off-white;
    }
}

.resume-link {
    text-decoration: none;
    color: $light-blue;
    background: $light-black;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
}

.fa-circle-right {
    font-size: 1.2rem;
}
