.about-me {
    &__header {
        color: $light-blue;
    }
    &__text {
        color: $off-white;
    }
    &__img {
        object-fit: contain;
    }
}
.education {
    list-style-type: none;
    background-color: $light-black;
    margin: 2rem;
    padding: 1rem;

    &__list-item {
        margin-bottom: 1rem;
    }
    &__school {
        color: $white;
    }
    &__degree {
        color: $off-white;
    }
}
