* {
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
    //font-family: "Antic Didone", serif;
    //font-family: "Forum", serif;
    //font-family: "Thasadith", sans-serif;
    //font-family: "Trirong", serif;
}
// background
body {
    background: $black;
    height: 100vh;
}
section {
    margin-bottom: 5rem;
}

//page style
.page {
    margin: 5rem 5%;
    &__title {
        color: $white;
        margin: 2rem 0;
        font-size: 3rem;
    }
}
.section-title {
    font-size: 2rem;
    color: $off-white;
    margin-bottom: 2rem;
}
