.footer {
    padding: 1rem;
    background-color: $off-black;
}
.email-address {
    color: $off-white;
    text-align: center;
    margin: 0;
}
.connect {
    padding: 1rem;
    text-align: center;

    &__links-container {
        display: inline;

    }
    &__link {
        padding: 1rem;
    }
    
    &__icon {
        color:$off-black;
        padding: .5rem;
        font-size: 1.5rem;
        background: $off-white;
        border-radius: 10px;
    }
}
.copyright {
    &__text {
        text-align: center;
        color: $off-white;
    }
}