
.project {
    &__section {
        padding: 0;
    }
    &__card {
        list-style-type: none;
        margin: 5rem 0;
    }
    &__img-container {
        padding:0;
    }
    &__img {
        width: 100%;
        border-radius: 20px;
    
    }
    &__img:hover {
        transform: scale(1.05);
    }
    &__text {
        padding: 2rem;
    }
    &__title {
        color: $white;    
    }
    &__description {
        color: $off-white;
    }
    &__tools-list {
        list-style-type: none;
        margin: 1rem 0;
        padding: 0;
    }
    &__tools-item {
        display: inline;
        padding-right: 1rem;
        color: $light-blue;
    }
    &__link {
        display: block;
        text-decoration: none;
        margin-bottom: 1rem ;
        color: $black;
        border-radius: 4px;
        width: 10rem;
        text-align: center;
        &--live {
            border: solid 1px $light-blue;
            color: $off-white;
        }
        &--code {
            border: solid 1px $orange;
            color: $off-white;
        }
    }
}


